# NBV
opencv-python==4.10.0.84
ultralytics==8.3.57
webcolors==24.11.1
# mission_interface
PyYAML==6.0.1
lxml==4.8.0
lxml-stubs==0.5.1
# ROS2 required
catkin_pkg==1.0.0
empy==3.3.4
lark==1.2.2
# git
precommit==3.4.0
